$validColor: #9CFF1A;
$errorColor: #FE2520;
$warningColor: #F97C1C;

*{
  box-sizing: border-box;
  margin: 0;
}
body {
  background: dodgerblue linear-gradient(45deg, #c0cf4b, #da5a1e, #da1e1e) fixed;
  font: 1.5em "Fira Sans", sans-serif;
  color: white;
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  svg:hover{
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color: #FFFFFF;
  }
  input, textarea{
    color: black;
  }
  #root{
    h1{
      text-align: center;
    }
  }
  button{
    color: #FFFFFF;
  }
  .deleteBtn:hover {
    color: $errorColor;
    transition: 1s;
    transform: rotate(180deg);
  }
  .doneBtn:hover {
    color: $validColor;
  }
  .editBtn:hover {
    color: $warningColor;
  }
  .done {
    color: $validColor;
  }
}

.hide{
  display: none;
}
@media screen and (max-width: 668px) {
  .container {
    width: 40%;
  }
}
@media screen and (min-width: 668px) {
  .container {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 80%;
  }
}
@media screen and (min-width: 1312px) {
  .container {
    width: 100%;
  }
}
