form{
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 3px solid transparent;
  border-radius: 12px;

  width: auto;
  max-width: 300px;

  overflow-y: hidden;

  margin-right: auto;
  margin-left: auto;

  .inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    textarea{
      outline: none;
      border-radius: 20px;
      border: 1px solid transparent;
      padding: 6px;
    }
  }

  .btnContainer {
    display: flex;
    justify-content: space-around;
    padding: 3px;
    border-top: 2px #FFFFFF solid;
    width: 100%;
  }
}

form.min{
  animation-name: develop;
  animation: ease-in-out;
  animation-duration: 1s;
  animation-direction: reverse;
  height: 0;
  border: none;
}

form.max{
  animation-name: develop;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-direction: normal;
  height: 290px;
  box-shadow: 0  4px 0 white;
}

@keyframes develop {
  0% { height: 0; }
  100% { height: 287px; }
}