form{
  border: 3px solid transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  align-items: center;
  justify-content: space-evenly;

  height: 0;
  overflow: hidden;

  button{
    border: 1px solid transparent;
    color: #FFFFFF;

    padding: 4px;
    background: transparent;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
    width: 140px;
    height: 45px;

    border-radius: 45px;
    transition:ease-in-out .2s;
  }
  button:disabled{
    background: grey;
  }

  button:hover{
    transform: translateY(-6px) scale(1.1);
    cursor: pointer;
  }

  textarea{
    outline: none;
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 6px;
  }
}

//.min{
//  animation: develop 1s ease-in-out;
//  animation-direction: reverse;
//  height: 0;
//}

.max{
  animation: develop 1s ease-in-out;
  animation-direction: normal;
  height: 300px;
  box-shadow: 0  4px 0 white;

}

@keyframes develop {
  0% { height: 0; width: 0 }
  100% { height: 300px; width: 500px }
}